@import url('https://fonts.googleapis.com/css?family=Skranji|Chicle|Lobster+Two');

html, body { 
	font-family: 'Lobster Two', cursive;
	margin: 0px;
	height: 100%;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
	
#div_principal { 
	position: relative; 
	width: 100%; 
	height: 100%; 
	background: url('../img/bg.png'); 
	margin: 0; 
	overflow: hidden; 
}
	
#superficie_luna { 
	position: absolute; 
	bottom: 0px; 
	height: 10%;
	width: 100%;
}
	
#superficie_luna img { 
	width: 100%; 
	height: 100%; 
}
	
#gato {
	position: absolute; 
	margin-left: 10%; 
	bottom: 6%; 
	height: 10%; 
}
	
#gato img { 
	height: 100%; 
}
	
#opciones_juego { 
	float: left; 
	width: 25%; 
	height: 90%; 
	z-index: 2;
}
	
#opciones_juego	ul { 
	list-style: none; 
	margin:auto; 
	padding: 4%;
}
	
#opciones_juego li { 
	display: inline;
}
	
#opciones_juego img { 
	width: 25%; 
	padding: 2%;
}
	
#opciones_juego img:hover { 
	transform : scale(1.2); -moz-transform : scale(1.2); -webkit-transform : scale(1.2); -o-transform : scale(1.2); 
}
	
#div_central { 
	float: left; 
	text-align: center; 
	width: 50%; 
	height: 90%; 
}

#zona_nave { 
	text-align:center;
	position:fixed;
	top:5%;
	width:50%;
	height:15%;
}
	
#imgNave{
	height:100%;
	display: block;
	margin: auto;
}
#imgMotor{
	height: 40%;
	display: none;
	margin: auto;
}
	
#panel_control { 
	z-index: 2;
	position: absolute; 
	margin-left: 75%; 
	top: 3%; width:23%; 
	height: 15%; 
	border-radius: 5px;
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
	background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 ); */
}
	
#combustible { 
	display: flex; 
	align-items: center; 
	text-align: center; 
	width: 100%; 
	height: 32%;
}
	
#velocitat { 
	display: flex; 
	align-items: center; 
	text-align: center; 
	border-color:white; 
	border-top-style: solid; 
	border-bottom-style: solid; 
	border-bottom-width: 5%; 
	border-top-width: 5%; 
	width: 100%; 
	height: 30%; 
}

#altitud { 
	display: flex; 
	align-items: center; 
	text-align: center; 
	width: 100%; 
	height: 32%;
}	

#valor { 
	font-size: 1.9vw; 
	color:white;	
	width: 60%; 
	float: left; 
	text-align: center; 
}

#valor1 { 
	font-size: 1.9vw; 
	color:white;	
	width: 60%; 
	height: 80%;
	float: left; 
	text-align: center; 
}

#alertafuel{
	font-size: 1.5vw; 
	color:white;	
	width: 60%; 
	float: left; 
	text-align: center; 
}

#nombre { 
	font-size: 1.9vw; 
	color:white; 
	width: 40%; 
	float: left; 
	text-align: center; }
	
#boton_ayuda { 
	position: absolute; 
	margin-left: 92%; 
	bottom: 12%; 
	width: 10%;
	}

#boton_ayuda img { 
	width: 62%;
}

#boton_ayuda img:hover {  
	transform : scale(1.2); -moz-transform : scale(1.2); -webkit-transform : scale(1.2); -o-transform : scale(1.2);
} 

#planeta {
	position: absolute; 
	margin-left: 60%; 
	bottom: 50%; 
	height: 50%; 
	z-index: 1;
}
	
#planeta img { 
	height: 100%; 
}

.fuel_EXT{
	float: left;
	margin-left: 5%;
	width: 100%;
	height: 100%;
	background-color:gray;
	border-radius: 10px;
}

.contador{
    float: left;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 0px solid #000000;
    background: -moz-linear-gradient(left, rgba(232,75,75,1) 0%, rgba(20,117,0,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(232,75,75,1)), color-stop(100%, rgba(20,117,0,1)));
    background: -webkit-linear-gradient(left, rgba(232,75,75,1) 0%, rgba(20,117,0,1) 100%);
    background: -o-linear-gradient(left, rgba(232,75,75,1) 0%, rgba(20,117,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(232,75,75,1) 0%, rgba(20,117,0,1) 100%);
    background: linear-gradient(to right, rgba(232,75,75,1) 0%, rgba(20,117,0,1) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84b4b', endColorstr='#147500', GradientType=1 );*/
}

#lowFuel {
	display: none;
}

#play{
	display: none;
}

#perdiste{ 
    width: 50%; 
	height: 45%; 
	left: 50%; 
	top: 50%; 
    text-align: center;
    position: fixed; 
	background-color: rgba(255,255,255,0.9); 
	color: white;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-radius: 10px; 
	border-style: solid; 
	border-color: #DF0101;
    z-index: 12;
    display: none;
}

#ganaste{ 
	display: flex; 
	align-items: center; 
    width: 50%; 
	height: 45%; 
	left: 50%; 
	top: 50%; 
    text-align: center;
    position: fixed; 
	background-color: rgba(255,255,255,0.9); 
	color: white;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-radius: 10px; 
	border-style: solid; 
	border-color: green;
    z-index: 12;
    display: none;
}

#juego_pausado{
display: flex; 
	align-items: center; 	
	width: 50%; 
	height: 45%; 
	left: 50%; 
	top: 50%; 
    text-align: center;
    position: fixed; 
	background-color: rgba(255,255,255,0.9); 
	color: white;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-radius: 10px; 
	border-style: solid; 
	border-color: #2a90af;
    z-index: 12;
    display: none;
}

#text{
	font-family: 'Skranji', cursive;
    font-size: 4vw;
	text-shadow: 0 1px 0 #ccc, 
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

#ayuda{
	width: 50%; 
	height: 60%; 
	left: 50%; 
	top: 50%; 
    text-align: center;
    position: absolute; 
	background-color: rgba(255,255,255,0.9); 
	color: white;
	transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);
	border-radius: 10px; 
	border-style: solid; 
	border-color: #2a90af;
    z-index: 12;
    display: none;
}

#ayuda ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#ayuda li {
	font-size: 1.9vw; 
    float: left;
    width: 50%;
}

#ayuda li a {
	font-size: 1.9vw; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#ayuda li a:hover:not(.active) {
    background-color: #111;
}

#botoncerrar{
	position: absolute;
	width: 5%;
	right: 5%;
	bottom: 5%;
}

#cm_juega{
	text-align: center;
	width: 90%;
	height: 70%;
	margin-top: 5%;
	margin-left: 5%;
	margin-left: 5%;
	color: #2a90af;
}

#escritorio{
	position: absolute;
	width: 90%;
	height: 60%;
}

#escritorio img{
	height: 15%;
}

#acerca_{

	text-align: center;
	width: 90%;
	height: 70%;
	margin-top: 5%;
	margin-left: 5%;
	margin-left: 5%;
	color: #2a90af;
}

#acerca_ img{
	height: 15%;
}

.botonrei{
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    text-align:center;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    display:inline-block;
    color: #FFF;
    background: #7F8C8D;
    padding: 10px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  	background: #3498DB;
  	border: 1px solid #2980B9;	
}

.botonrei:hover{
	background: #39a0e5;
}

#movil{
	display: none;
}